### Import Libraries:

In [21]:
import pandas as pd
import numpy as np

### Load in Data:

In [8]:
ps4_raw = pd.read_csv("raw_data/ps4_game_sales.csv", encoding = "ISO-8859-1")

In [9]:
xbox_raw = pd.read_csv("raw_data/xbox_one_game_sales.csv", encoding = "ISO-8859-1")

In [6]:
sales2016_raw = pd.read_csv("raw_data/sales_2016_with_ratings.csv", encoding = "ISO-8859-1")

In [7]:
sales2019_raw = pd.read_csv("raw_data/sales_2019.csv", encoding = "ISO-8859-1")

### 2016 Sales

In [15]:
sales2016_raw.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

### Check for missing values:

In [17]:
sales2016_raw.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

### Replace missing values:

In [20]:
sales2016_raw["Name"].fillna("Unknown", inplace = True)
sales2016_raw["Year_of_Release"].fillna("Unknown", inplace = True)
sales2016_raw["Genre"].fillna("Other", inplace = True)
sales2016_raw["Publisher"].fillna("Unknown", inplace = True)

sales2016_raw.isnull().sum()

Name                  0
Platform              0
Year_of_Release       0
Genre                 0
Publisher             0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

### Drop unwanted columns:

In [30]:
sales2016_clean = sales2016_raw.drop(["Critic_Score", "Critic_Count", "User_Score", "User_Count", "Developer", "Rating"], 
                   axis = 1)

sales2016_clean.isnull().sum()

Name               0
Platform           0
Year_of_Release    0
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
dtype: int64